<a href="https://colab.research.google.com/github/anamunoz01/PROYECTO-INTEGRADOR-III/blob/main/ClasBinaria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**MODELO PREDICTIVO DE ATAQUES AL CORAZÓN CON REDES NEURONALES** 

**Proyecto Integrador III**

- Elena Gómez

- Ana Muñoz

- Inés Sánchez

- Miriam Toledo

## **Objetivo**

Vamos a predecir la posibilidad de sufrir un ataque al corazón dependiendo de diferentes características relacionadas con la salud del paciente.  

Para ello creamos un modelo de clasificación binaria, con el que obtendremos una salida que será 0 o 1.
- 0 significará que la probabilidad de sufrir un ataque al corazón es muy baja.
-1 será el caso contrario, es decir, que la probabilidad es alta.

La base de datos que utilizaremos la encontramos en kaggle.com, como Health care: Heart attack possibility. 

Las características que vamos a estudiar son las siguientes:
1. Edad
2. Sexo
3. Tipo de dolor de pecho (4 tipos)
4. Presión en sangre
5. Colesterol en mg/dl
6. Azúcar en sangre > 120 mg/dl
7. Resultado electrocardiograma (valores 0, 1, 2)
8. Frecuencia cardiaca máxima alcanzada
9. Angina de pecho (inducida por el ejercicio)
10. Depresión del ST inducida por el ejercicio en relación con el reposo
11. La pendiente del segmento ST máximo del ejercicio
12. Número de vasos mayores (0-3) coloreados por la fluoroscopia
13. thal: 0 = normal; 1 = defecto fijo; 2 = defecto reversible
14. objetivo: 0= menos posibilidades de infarto 1= más posibilidades de infarto

**Estudio y análisis de datos**

In [107]:
import keras
keras.__version__

'2.8.0'

In [108]:
import pandas as pd
df = pd.read_excel('dataset heart attack.xlsx')

In [109]:
df

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [110]:
x = ['sex', 'fbs', 'exang', 'cp', 'restecg', 'slope', 'ca', 'thal']

In [124]:
df1 = pd.DataFrame()
for i in x:
  y = pd.get_dummies(df[i] ,prefix = i)
  print(y)
  df1 = df1.append(y)


df1

     sex_0  sex_1
0        0      1
1        0      1
2        1      0
3        0      1
4        1      0
..     ...    ...
298      1      0
299      0      1
300      0      1
301      0      1
302      1      0

[303 rows x 2 columns]
     fbs_0  fbs_1
0        0      1
1        1      0
2        1      0
3        1      0
4        1      0
..     ...    ...
298      1      0
299      1      0
300      0      1
301      1      0
302      1      0

[303 rows x 2 columns]
     exang_0  exang_1
0          1        0
1          1        0
2          1        0
3          1        0
4          0        1
..       ...      ...
298        0        1
299        1        0
300        1        0
301        0        1
302        1        0

[303 rows x 2 columns]
     cp_0  cp_1  cp_2  cp_3
0       0     0     0     1
1       0     0     1     0
2       0     1     0     0
3       0     1     0     0
4       1     0     0     0
..    ...   ...   ...   ...
298     1     0     0     0
299     0     0     0     1
300     1     0     0     0
301     1     0     0     0
302     0     1     0     0

[303 rows x 4 columns]
     restecg_0  restecg_1  restecg_2
0            1          0          0
1            0          1          0
2            1          0          0
3            0          1          0
4            0          1          0
..         ...        ...        ...
298          0          1          0
299          0          1          0
300          0          1          0
301          0          1          0
302          1          0          0

[303 rows x 3 columns]
     slope_0  slope_1  slope_2
0          1        0        0
1          1        0        0
2          0        0        1
3          0        0        1
4          0        0        1
..       ...      ...      ...
298        0        1        0
299        0        1        0
300        0        1        0
301        0        1        0
302        0        1        0

[303 rows x 3 columns]
     ca_0  ca_1  ca_2  ca_3  ca_4
0       1     0     0     0     0
1       1     0     0     0     0
2       1     0     0     0     0
3       1     0     0     0     0
4       1     0     0     0     0
..    ...   ...   ...   ...   ...
298     1     0     0     0     0
299     1     0     0     0     0
300     0     0     1     0     0
301     0     1     0     0     0
302     0     1     0     0     0

[303 rows x 5 columns]
     thal_0  thal_1  thal_2  thal_3
0         0       1       0       0
1         0       0       1       0
2         0       0       1       0
3         0       0       1       0
4         0       0       1       0
..      ...     ...     ...     ...
298       0       0       0       1
299       0       0       0       1
300       0       0       0       1
301       0       0       0       1
302       0       0       1       0

[303 rows x 4 columns]

     sex_0  sex_1  fbs_0  fbs_1  exang_0  ...  ca_4  thal_0  thal_1  thal_2  thal_3
0      0.0    1.0    NaN    NaN      NaN  ...   NaN     NaN     NaN     NaN     NaN
1      0.0    1.0    NaN    NaN      NaN  ...   NaN     NaN     NaN     NaN     NaN
2      1.0    0.0    NaN    NaN      NaN  ...   NaN     NaN     NaN     NaN     NaN
3      0.0    1.0    NaN    NaN      NaN  ...   NaN     NaN     NaN     NaN     NaN
4      1.0    0.0    NaN    NaN      NaN  ...   NaN     NaN     NaN     NaN     NaN
..     ...    ...    ...    ...      ...  ...   ...     ...     ...     ...     ...
298    NaN    NaN    NaN    NaN      NaN  ...   NaN     0.0     0.0     0.0     1.0
299    NaN    NaN    NaN    NaN      NaN  ...   NaN     0.0     0.0     0.0     1.0
300    NaN    NaN    NaN    NaN      NaN  ...   NaN     0.0     0.0     0.0     1.0
301    NaN    NaN    NaN    NaN      NaN  ...   NaN     0.0     0.0     0.0     1.0
302    NaN    NaN    NaN    NaN      NaN  ...   NaN     0.0     0.0     1.0     0.0

[2424 rows x 25 columns]

In [101]:
sex = pd.get_dummies(df['sex'] ,prefix = 'sex')
sex

     sex_0  sex_1
0        0      1
1        0      1
2        1      0
3        0      1
4        1      0
..     ...    ...
298      1      0
299      0      1
300      0      1
301      0      1
302      1      0

[303 rows x 2 columns]

In [98]:
cp = pd.get_dummies(df['cp'], prefix = 'cp')
cp

     cp_0  cp_1  cp_2  cp_3
0       0     0     0     1
1       0     0     1     0
2       0     1     0     0
3       0     1     0     0
4       1     0     0     0
..    ...   ...   ...   ...
298     1     0     0     0
299     0     0     0     1
300     1     0     0     0
301     1     0     0     0
302     0     1     0     0

[303 rows x 4 columns]

In [82]:
#x = ['sex', 'fbs', 'exang', 'cp', 'restecg', 'slope', 'ca', 'thal']
#df[x] = to_categorical(df[x])

In [70]:
import numpy as np

In [71]:
x = np.max(df['exang'])
y = np.min(df['exang'])

print(x)
print(y)

1
0

In [72]:
clases = df[['sex', 'fbs', 'exang', 'cp', 'restecg', 'slope', 'ca', 'thal']]
clases

     sex  fbs  exang  cp  restecg  slope  ca  thal
0      1    1      0   3        0      0   0     1
1      1    0      0   2        1      0   0     2
2      0    0      0   1        0      2   0     2
3      1    0      0   1        1      2   0     2
4      0    0      1   0        1      2   0     2
..   ...  ...    ...  ..      ...    ...  ..   ...
298    0    0      1   0        1      1   0     3
299    1    0      0   3        1      1   0     3
300    1    1      0   0        1      1   2     3
301    1    0      1   0        1      1   1     3
302    0    0      0   1        0      1   1     2

[303 rows x 8 columns]

In [73]:
from keras.utils.np_utils import to_categorical

In [74]:
clases = to_categorical(clases)
clases

array([[[0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0.]],

       [[0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.]],

       [[1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.]],

       ...,

       [[0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0.]],

       [[0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        ...,
        [0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 0.]],

       [[1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0.]]], dtype=float32)

In [81]:
clases[1].shape

(8, 5)

In [76]:
continuas = df[['age', 'trestbps', 'chol', 'thalach', 'oldpeak']]
continuas

     age  trestbps  chol  thalach  oldpeak
0     63       145   233      150      2.3
1     37       130   250      187      3.5
2     41       130   204      172      1.4
3     56       120   236      178      0.8
4     57       120   354      163      0.6
..   ...       ...   ...      ...      ...
298   57       140   241      123      0.2
299   45       110   264      132      1.2
300   68       144   193      141      3.4
301   57       130   131      115      1.2
302   57       130   236      174      0.0

[303 rows x 5 columns]

Normalizamos las variables continuas

In [77]:
mean = continuas.mean(axis=0)
print(mean)
continuas -= mean
std = continuas.std(axis=0)
print(std)
continuas /= std

age          54.366337
trestbps    131.623762
chol        246.264026
thalach     149.646865
oldpeak       1.039604
dtype: float64
age          9.082101
trestbps    17.538143
chol        51.830751
thalach     22.905161
oldpeak      1.161075
dtype: float64

In [78]:
continuas

          age  trestbps      chol   thalach   oldpeak
0    0.950624  0.762694 -0.255910  0.015417  1.085542
1   -1.912150 -0.092585  0.072080  1.630774  2.119067
2   -1.471723 -0.092585 -0.815424  0.975900  0.310399
3    0.179877 -0.662770 -0.198030  1.237849 -0.206364
4    0.289984 -0.662770  2.078611  0.582975 -0.378618
..        ...       ...       ...       ...       ...
298  0.289984  0.477601 -0.101562 -1.163356 -0.723126
299 -1.031296 -1.232956  0.342190 -0.770432  0.138144
300  1.501157  0.705675 -1.027653 -0.377507  2.032940
301  0.289984 -0.092585 -2.223854 -1.512623  0.138144
302  0.289984 -0.092585 -0.198030  1.063216 -0.895381

[303 rows x 5 columns]

In [ ]:
train_data = df.sample(frac=0.8,random_state=0)
# El resto de datos los almacenamos en test_data:
test_data = df.drop(train_data.index)

In [ ]:
train_data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
225   70    1   0       145   174    0  ...      1      2.6      0   0     3       0
152   64    1   3       170   227    0  ...      0      0.6      1   0     3       1
228   59    1   3       170   288    0  ...      0      0.2      1   0     3       0
201   60    1   0       125   258    0  ...      1      2.8      1   1     3       0
52    62    1   2       130   231    0  ...      0      1.8      1   3     3       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
82    60    0   2       102   318    0  ...      0      0.0      2   1     2       1
285   46    1   0       140   311    0  ...      1      1.8      1   2     3       0
11    48    0   2       130   275    0  ...      0      0.2      2   0     2       1
119   46    0   0       138   243    0  ...      1      0.0      1   0     2       1
102   63    0   1       140   195    0  ...      0      0.0      2   2     2       1

[242 rows x 14 columns]

Normalizamos

In [ ]:
mean = train_data.mean(axis=0)
print(mean)
train_data -= mean
std = train_data.std(axis=0)
print(std)
train_data /= std
#print(train_data[1])

test_data -= mean
test_data /= std

age          54.128099
sex           0.685950
cp            0.962810
trestbps    131.396694
chol        247.181818
fbs           0.144628
restecg       0.528926
thalach     149.797521
exang         0.330579
oldpeak       0.991322
slope         1.413223
ca            0.685950
thal          2.322314
target        0.553719
dtype: float64
age          8.904992
sex          0.465098
cp           1.031989
trestbps    17.352331
chol        51.235037
fbs          0.352454
restecg      0.516522
thalach     22.935873
exang        0.471396
oldpeak      1.162148
slope        0.606595
ca           0.985649
thal         0.614012
target       0.498136
dtype: float64

In [ ]:
train_labels = train_data.pop('target')
test_labels = test_data.pop('target')

Creamos la red

In [ ]:
import tensorflow as tf

from keras import models
from keras import layers

model = models.Sequential()
# Entrada, un tensor con la crítica vectorizada (10000 valores)
model.add(layers.Dense(16, activation='relu', input_shape=(13,)))
model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

DATOS VALIDACION

In [ ]:
x_val = train_data[:80]
partial_x_train = train_data[80:]

y_val = train_labels[:80]
partial_y_train = train_labels[80:]

In [ ]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

history = model.fit(partial_x_train,
                    partial_y_train,
                    epochs=20,
                    batch_size=512,
                    validation_data=(x_val, y_val))

Epoch 1/20
1/1 [==============================] - 1s 1s/step - loss: 0.6065 - accuracy: 0.0000e+00 - val_loss: 0.6686 - val_accuracy: 0.0000e+00
Epoch 2/20
1/1 [==============================] - 0s 34ms/step - loss: 0.5655 - accuracy: 0.0000e+00 - val_loss: 0.6445 - val_accuracy: 0.0000e+00
Epoch 3/20
1/1 [==============================] - 0s 26ms/step - loss: 0.5358 - accuracy: 0.0000e+00 - val_loss: 0.6251 - val_accuracy: 0.0000e+00
Epoch 4/20
1/1 [==============================] - 0s 30ms/step - loss: 0.5111 - accuracy: 0.0000e+00 - val_loss: 0.6078 - val_accuracy: 0.0000e+00
Epoch 5/20
1/1 [==============================] - 0s 34ms/step - loss: 0.4889 - accuracy: 0.0000e+00 - val_loss: 0.5919 - val_accuracy: 0.0000e+00
Epoch 6/20
1/1 [==============================] - 0s 27ms/step - loss: 0.4681 - accuracy: 0.0000e+00 - val_loss: 0.5766 - val_accuracy: 0.0000e+00
Epoch 7/20
1/1 [==============================] - 0s 25ms/step - loss: 0.4486 - accuracy: 0.0000e+00 - val_loss: 0.5621 - val_accuracy: 0.0000e+00
Epoch 8/20
1/1 [==============================] - 0s 27ms/step - loss: 0.4304 - accuracy: 0.0000e+00 - val_loss: 0.5482 - val_accuracy: 0.0000e+00
Epoch 9/20
1/1 [==============================] - 0s 28ms/step - loss: 0.4129 - accuracy: 0.0000e+00 - val_loss: 0.5349 - val_accuracy: 0.0000e+00
Epoch 10/20
1/1 [==============================] - 0s 27ms/step - loss: 0.3959 - accuracy: 0.0000e+00 - val_loss: 0.5219 - val_accuracy: 0.0000e+00
Epoch 11/20
1/1 [==============================] - 0s 26ms/step - loss: 0.3790 - accuracy: 0.0000e+00 - val_loss: 0.5090 - val_accuracy: 0.0000e+00
Epoch 12/20
1/1 [==============================] - 0s 28ms/step - loss: 0.3624 - accuracy: 0.0000e+00 - val_loss: 0.4966 - val_accuracy: 0.0000e+00
Epoch 13/20
1/1 [==============================] - 0s 33ms/step - loss: 0.3460 - accuracy: 0.0000e+00 - val_loss: 0.4843 - val_accuracy: 0.0000e+00
Epoch 14/20
1/1 [==============================] - 0s 45ms/step - loss: 0.3298 - accuracy: 0.0000e+00 - val_loss: 0.4719 - val_accuracy: 0.0000e+00
Epoch 15/20
1/1 [==============================] - 0s 26ms/step - loss: 0.3132 - accuracy: 0.0000e+00 - val_loss: 0.4592 - val_accuracy: 0.0000e+00
Epoch 16/20
1/1 [==============================] - 0s 27ms/step - loss: 0.2969 - accuracy: 0.0000e+00 - val_loss: 0.4467 - val_accuracy: 0.0000e+00
Epoch 17/20
1/1 [==============================] - 0s 27ms/step - loss: 0.2803 - accuracy: 0.0000e+00 - val_loss: 0.4341 - val_accuracy: 0.0000e+00
Epoch 18/20
1/1 [==============================] - 0s 35ms/step - loss: 0.2637 - accuracy: 0.0000e+00 - val_loss: 0.4212 - val_accuracy: 0.0000e+00
Epoch 19/20
1/1 [==============================] - 0s 27ms/step - loss: 0.2472 - accuracy: 0.0000e+00 - val_loss: 0.4083 - val_accuracy: 0.0000e+00
Epoch 20/20
1/1 [==============================] - 0s 28ms/step - loss: 0.2310 - accuracy: 0.0000e+00 - val_loss: 0.3957 - val_accuracy: 0.0000e+00

In [ ]:
all_scores

[[-23377.23046875, 0.0], [-18673.734375, 0.0], [-27468.47265625, 0.0]]